body {
  background-color: #303030;
  color: #d0d0d0;
}

iframe {
  border: 1px solid;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: bold;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: .83em;
}

h6 {
  font-size: .67em;
}

mark {
  background-color: gold;
  font-weight: bold;
  padding: 1px;
}

a {
  color: gold;
}